@import "components/_fonts";
@import "components/fontawesome/font-awesome.scss";

// change global theme
$main_color:#4CAF50;
$secondary_color:#66BB6A;

body,html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

@import "components/_general"; // header and menu styles
@import "components/_login"; // login page
@import "components/_panel"; // panel page
@import "components/_logs"; // logs page
