.container.panel.logs {
    .container-content {
        height: calc( 100% - 80px);
    }
    .log {
        width: 800px;
        text-align: center;
        height: 30px;
        line-height: 30px;
        border: 1px solid;
        margin: 10px auto;
        border-radius: 5px;
        padding: 10px;
        color: blacks;
        // type of logs
        &.add {
            background: lightgreen;
            border-color:green;
        }
        &.edit {
            background: rgb(231, 192, 91);
            border-color:orange;
        }
        &.delete {
            background: rgb(247, 149, 136);
            border-color:red;
        }
        &.add_user {
            background: rgb(82, 155, 252);
            border-color:blue;
        }
    }
}
