.container.panel {
    width: 100%;
    height: auto;
    min-height: 100%;
    position: relative;
    font-family: "Raleway", sans-serif;
    overflow: hidden;

    .logs-panel {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        padding: 10px;
        background: white;
    }

    header {
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;

        .logo {
            width: 100px;
            height: 100%;
            background: $main_color;
        }

        .header_title {
            width: calc(100% - 100px);
            height: 100%;
            background: #ececec;
            text-align: left;

            span {
                line-height: 70px;
                font-weight: 700;
                padding-left: 50px;
            }
        }
    }

    .inventory_menu {
        position: absolute;
        width: 100px;
        height: calc(100% - 70px);
        background: $secondary_color;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            width: 100%;
            height: 50px;
            margin: 10px auto;
            text-align: center;

            &:first-of-type {
                margin-top: 20px;
            }

            a {
                text-decoration: none;

                i {
                    color: #E0E0E0;
                    font-size: 30px;
                    transition: 0.3s color, transform;
                    cursor: pointer;
                    transform: scale(1);
                    transform-origin: center;

                    &:hover {
                        color: white;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .container-content {
        width: calc(100% - 100px);
        height: calc( 100% - 70px);
        position: absolute;
        top: 70px;
        left: 100px;
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        // justify-content: flex-start;
        // overflow-y: scroll;
        padding-top: 10px;
        padding-left: 10px;
        .modal {
            background: $main_color;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 10;
            text-align: center;
            border-radius: 10px;
            padding: 20px;
            -moz-box-shadow: 2px 2px 5px 0px #656565;
            -webkit-box-shadow: 2px 2px 5px 0px #656565;
            -o-box-shadow: 2px 2px 5px 0px #656565;
            box-shadow: 2px 2px 5px 0px #656565;
            filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
            display: none;
            &.active {
                display: block;
            }
            p {
                i {
                    font-size: 30px;
                }
                color:white;
            }
            .modal_button {
                width: 100px;
                margin: 0 auto;
                padding: 10px;
                background: white;
                border-radius: 5px;
                a {
                    text-decoration: none;
                    color:$main_color;
                }
            }

        }
        .product {
            width: 400px;
            height: 310px;
            margin: 20px;
            display: inline-block;
            text-align: center;
            border-radius: 5px;
            -webkit-box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.75);
            -moz-box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.75);
            box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.75);

            .product_content {
                width: 100%;
                height: 100%;
                background: url("../img/tableau1.jpg");
                background-size: 100%;
                background-position: center;
                color: white;
                border-radius: 5px;
                padding: 15px;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;
                transition: 0.5s background-size;

                .product_actions {
                    position: absolute;
                    top: -15px;
                    right: -15px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    opacity: 0;
                    transition: 0.3s opacity;
                    will-change: opacity;

                    .action {
                        width: 40px;
                        height: 40px;
                        border-radius: 20px;
                        margin: 0 5px;
                        text-align: center;
                        line-height: 40px;

                        a {
                            color: white;
                            text-decoration: none;

                            i {
                                color: white;
                            }
                        }

                        &.delete {
                            background: red;
                        }

                        &.edit {
                            background: orange;
                        }

                        &.valid {
                            background: green;
                        }

                        &.hide {
                            display: none;
                        }
                    }
                }

                .product_fields_info {
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                    opacity: 0;
                    transition: 0.3s opacity;
                    will-change: opacity;

                    .fields {
                        input,
                        textarea {
                            outline: none;
                            border: none;
                            background: none;
                            color: white;
                        }


                    }

                    .product_title {
                        font-weight: 700;
                        margin-bottom: 5px;

                        input {
                            margin: 0;
                            padding: 0;
                            font-size: 22px;
                        }
                    }

                    .product_artist {
                        margin-bottom: 5px;

                        input {
                            font-style: italic;
                            font-size: 14px;
                        }
                    }

                    .product_desc {
                        width: calc(90% - 15px);

                        textarea {
                            width: 100%;
                        }
                    }

                    .product_number,
                    .product_price {
                        font-size: 18px;

                        input {
                            font-size: 18px;
                            text-align: center;
                        }
                    }

                    &.second {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }

                }

                &:hover {
                    background-size: 105%;
                    .product_actions {
                        opacity: 1;
                    }

                    .product_fields_info {
                        opacity: 1;
                    }
                }
                &.editable {
                    .product_actions {
                        opacity: 1;
                    }
                    .product_fields_info {
                        opacity: 1;
                    .fields {
                    input,
                    textarea {
                        background: rgba(231, 231, 231, 0.4);

                        &:focus {
                            background: #red;
                            background: rgba(76,175,80,0.7);
                        }
                    }
                }
            }
        }
            }
        }
    }
}
