.container.panel.users {
    background: rgb(230, 226, 226);
    .ocntainer-content {
        padding: 10px;
    }
    .user {
        margin: 10px 15px;
        width: 300px;
        height: 250px;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-radius: 5px;
        display: inline-block;
        padding-top: 20px;
        -moz-box-shadow: 1px 1px 15px 0px #656565;
-webkit-box-shadow: 1px 1px 15px 0px #656565;
-o-box-shadow: 1px 1px 15px 0px #656565;
box-shadow: 1px 1px 15px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=15);
        .user_picture {
            width: 125px;
            height: 125px;
            margin: 0 auto;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background: red;
            border-radius: 100%;
        }
        .user_name {
            font-weight: bold;
        }
        .user_mail {
            font-weight: italic;
        }
        .user_contributions {
            color:grey;
        }
    }
}
