.container.panel.users {
    background: rgb(230, 226, 226);

    .container-content {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .user {
        margin: 10px 15px;
        width: 300px;
        height: 250px;
        background: white;
        text-align: center;
        border-radius: 5px;
        display: inline-block;
        padding-top: 20px;
        -moz-box-shadow: 1px 1px 15px 0px #656565;
-webkit-box-shadow: 1px 1px 15px 0px #656565;
-o-box-shadow: 1px 1px 15px 0px #656565;
box-shadow: 1px 1px 15px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=15);
        .user_picture {
            width: 125px;
            height: 125px;
            margin: 0 auto;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            border-radius: 100%;
        }
        .user_name {
            font-weight: bold;
        }
        .user_mail {
            font-weight: italic;
        }
        .user_contributions {
            color:grey;
        }
        &.user_add {
            .user_picture{
                line-height: 85px;
                text-align: center;
                background: $main_color;
                width: 75px;
                height: 75px;
                cursor: pointer;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                i {
                    color: white;
                    font-size: 20px;
                }
                &.error {
                    background: red;
                }
            }
            span {
                font-size: 10px;
                margin-top: 5px;
            }
            .user_picture_field {
                display: none;
            }
            input {
                display: block;
                border: none;
                border-bottom: 1px solid $main_color;
                margin: 15px auto;
                font-size: 16px;
            &.user_name {
                font-weight: normal;
            }
            &:focus {
                color:black;
                outline-width: 0;
            }
            &.user_form_submit {
                background: none;
                background-color: $main_color;
                text-align: center;
                line-height: 100%;
                color:white;
                padding: 5px 10px;
                border-radius: 5px;
                cursor: pointer
            }
            &.error {
                background: rgb(222, 103, 103);
                color:white;
            }
            }

        }
    }
}
